@use '../../styles/palette' as var;

.tag {
  color: var.$white01;
  background-color: var.$grey01;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: inline-block;
  margin: 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  width: 100%;
  text-align: center;
}
.active {
  background-color: var.$blue01;
}

.inactive {
  background-color: var.$red01;
}

.finished {
  background-color: var.$green01;
}
