.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  gap: 1rem;
  flex-wrap: wrap;

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  &__date {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }
}
