@use '../../styles//palette' as var;

.multipletextfields {
  &__title {
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(var.$blue01, 0.1);
  }

  &-top {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    margin: 10px 0;
  }

  &-add {
    display: flex;
    padding: 10px 0 10px 0;
  }
}
