$nav-link-color: black;

nav {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

nav li.active  {
  background-color: #5555;
}

nav li:hover {
  background-color: #7777;
}