* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

// @font-face {
//   font-family: 'SF Pro Display';
//   src: local('SF Pro Display'),
//     url('./assets/fonts/SF-Pro-Display-Regular.ttf') format('truetype');
// }

* {
  // font-family: 'SF Pro Display';
  font-family: 'Roboto', sans-serif;
}
